<h1>Plays Info</h1>

<ul>
  <li>Name:   <%= @play.name %></li>
  <li>Genre:  <%= @play.genre %></li>
  <li>Rated:  <%= @play.rated %></li>
  <li>Rating: <%= @play.rating %></li>
  <li>Price:  <%= @play.price %></li>
<ul>
